<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Interview Page</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="container">

        <h1>🎤 AI Interview</h1>

        <p>
            Welcome to the Interview Practice Page.
        </p>

        <a href="/">
            <button>⬅ Back to Home</button>
        </a>

    </div>

</body>

</html>